<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="core.application.movies.repositories.mapper.CommentMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="commentId">
        insert into comment_table (content, like, dislike, rating, movie_id, user_id, created_at)
        values (#{comment.content}, #{comment.like}, #{comment.dislike}, #{comment.rating}, #{movieId}, #{userId}, #{comment.createdAt})
    </insert>

    <select id="findByCommentId" resultType="core.application.movies.models.entities.CommentEntity">
        select comment_id, content, 'like', dislike, rating, movie_id, user_id, created_at
        from comment_table
        where commet_id=#{commentId}
    </select>

    <select id="findByMovieId" resultType="core.application.movies.models.entities.CommentEntity">
        select comment_id, content, 'like', dislike, rating, movie_id, user_id, created_at
        from comment_table
        where movie_id=#{movieId}
    </select>

    <select id="findByMovieIdOnDateDescend" resultType="core.application.movies.models.entities.CommentEntity">
        select comment_id, content, 'like', dislike, rating, movie_id, user_id, created_at
        from comment_table
        where movie_id=#{movieId}
        order by created_at desc
    </select>

    <select id="findByMovieIdOnDateDescend" resultType="core.application.movies.models.entities.CommentEntity">
        select comment_id, content, 'like', dislike, rating, movie_id, user_id, created_at
        from comment_table
        where movie_id=#{movieId}
        order by 'like' desc
    </select>

    <select id="findByMovieIdOnDateDescend" resultType="core.application.movies.models.entities.CommentEntity">
        select comment_id, content, 'like', dislike, rating, movie_id, user_id, created_at
        from comment_table
        where movie_id=#{movieId}
        order by diskike desc
    </select>


    <select id="selectAll" resultType="core.application.movies.models.entities.CommentEntity">
        select comment_id, content, 'like', dislike, rating, movie_id, user_id, created_at
        from comment_table
    </select>

    <delete id="delete">
        delete from comment_table
        where comment_id=#{commentId}
    </delete>
</mapper>
